EDA Siniestros viales

In [4]:
#Importamos las librerias a usar
import pandas as pd

In [8]:
#importamos las hojas del Dataset que se usaran 
df_hechos = pd.read_excel('../Datasets/homicidios.xlsx', sheet_name='HECHOS')
df_victimas = pd.read_excel('../Datasets/homicidios.xlsx', sheet_name='VICTIMAS')

In [13]:
df_hechos.info()#obtenemos una descripción concisa y resumida del DataFrame.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

Se evidencia que cuatro columna contienen datos nulos

In [10]:
#Se genera un resumen estadístico para todas las columnas, tanto numéricas como categóricas.
df_hechos.describe(include='all')

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
count,696,696.000000,696,696.000000,696.000000,696.000000,696,696.0,696,696,...,129.000000,525,688,696.000000,696,696,696,696,696,696
unique,696,NaN,NaN,NaN,NaN,NaN,375,25.0,683,4,...,NaN,317,635,NaN,606,605,605,41,10,10
top,2016-0001,NaN,NaN,NaN,NaN,NaN,16:00:00,7.0,AV 27 DE FEBRERO Y AV ESCALADA,AVENIDA,...,NaN,"PAZ, GRAL. AV.",27 DE FEBRERO AV. y ESCALADA AV.,NaN,Point (. .),.,.,PEATON-PASAJEROS,MOTO,AUTO
freq,1,NaN,NaN,NaN,NaN,NaN,10,41.0,4,429,...,NaN,14,5,NaN,14,12,12,105,295,204
mean,NaN,1.030172,2018-09-14 05:12:24.827586048,2018.188218,6.692529,15.936782,NaN,NaN,NaN,NaN,...,3336.635659,NaN,NaN,7.425287,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.000000,2016-01-01 00:00:00,2016.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,...,30.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,1.000000,2017-04-02 12:00:00,2017.000000,4.000000,9.000000,NaN,NaN,NaN,NaN,...,1359.000000,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,1.000000,2018-07-12 12:00:00,2018.000000,7.000000,16.000000,NaN,NaN,NaN,NaN,...,2551.000000,NaN,NaN,8.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,1.000000,2020-01-04 06:00:00,2020.000000,10.000000,23.000000,NaN,NaN,NaN,NaN,...,4500.000000,NaN,NaN,11.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,3.000000,2021-12-30 00:00:00,2021.000000,12.000000,31.000000,NaN,NaN,NaN,NaN,...,16080.000000,NaN,NaN,15.000000,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,0.179393,NaN,1.683754,3.571309,8.639646,NaN,NaN,NaN,NaN,...,3060.641793,NaN,NaN,4.387050,NaN,NaN,NaN,NaN,NaN,NaN